/*global elements*/
body,html{
	background:#fff;
	font-size:16px;
	color:#0b0a09;
	font-family:"Alegreya",monospace;
}
a{
	text-decoration:underline;
	cursor:pointer;
}
a:link,
a:visited,
a:hover,
a:active{
	color:inherit;
}
ul{
	margin:0;
	padding:0;	
}
li{
	list-style:none;	
}





	.content{
		width:640px;
		outline1:1px solid yellow;
		margin:50px auto;
	}
		.main{
			outline1:1px solid blue;
		}
			.photo-main{
				outline1:1px solid green;
			}
				.photo-main img{
					display:block;
					
				}
		.nav-main{
			clear:both;
			margin-top:10px;
			padding-top:2px;
			border-top:1px solid #11100e;
		}
			.nav-main ul{
				overflow:hidden;
			}
				.nav-main ul li{
					float:left;
					font-size:14px;
					margin-top:8px;
					opacity:1;
				}
					.nav-main li a{
						text-decoration:none;
						color:#0b0a09;
					}
					.nav-main li:hover,
					.nav-main li.hover{
						opacity:1;
					}
					.nav-main li span{
						
					}
				.nav-main li.separator{
					
				}
					.nav-main li.separator i{
						display:block;
						width:1px;
						height:12px;
						margin:5px 10px 0;
						background-color:#9d9883;
						border-right:1px solid #0b0a09;
					}
				.nav-main li.first{
					border:none;
					padding-left:0;
					margin-left:0;
				}
				.nav-main li.logo{
					float:right;
					font-family:"Dancing Script",monospace;
					font-size:26px;
					margin-top:0;
				}
	

